/* Header */
.header {
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* back button */
.back-container {
  width: 30%;
  text-align: center;
}
.go-back {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
  color: white;
  background-color: red;
}
.go-back:hover {
  cursor: pointer;
  filter: brightness(70%);
}
/* reset button */
.reset-container {
  text-align: center;
  width: 30%;
}
.reset-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: royalblue;
}
.reset-btn:hover {
  filter: brightness(80%);
  cursor: pointer;
}
/* Svgs */
.svg-container {
  width: 50%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
svg:hover {
  cursor: url("./../../images/pen.png") 4 42, move;
}
/* Pallete */
.pallete-container {
  height: 140px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
