/* Header */
.header {
  width: 50%;
  height: 60px;
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* back button */
.back-container {
  width: 30%;
  text-align: center;
}
.go-back {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
  color: white;
  background-color: red;
}
.go-back:hover {
  cursor: pointer;
  filter: brightness(70%);
}
.logo-container {
  position: absolute;
  top: 60px;
  left: 320px;
  height: 100px;
  width: 180px;
  transform: rotate(-5deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 15%;
  box-shadow: 2px 2px 2px black;
}
.logo-img {
  height: 100%;
  width: 100%;
}

/* reset button */
.reset-container {
  text-align: center;
  width: 30%;
}
.reset-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: royalblue;
}
.reset-btn:hover {
  filter: brightness(80%);
  cursor: pointer;
}
/* Svgs */
.svg-container {
  width: 45%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
svg:hover {
  cursor: url("./../../images/pen.png") 4 42, move;
}
/* Pallete */
.pallete-container {
  height: 140px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* media query */
@media (min-width: 1281px) and (max-width: 1416px) {
  .logo-container {
    position: inherit;
    transform: rotate(0);
    box-shadow: 0 0;
    border-radius: 5%;
    height: 80%;
    width: 30%;
  }
  .svg-container {
    width: 60%;
  }
  .header {
    height: 50px;
  }
  .single-color {
    width: 55px;
    height: 60px;
  }
  .single-color-active {
    height: 65px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    height: 50px;
  }
  .logo-container {
    position: inherit;
    transform: rotate(0);
    box-shadow: 0 0;
    border-radius: 5%;
    height: 80%;
    width: 30%;
  }
  .logo-img {
    height: 90%;
    width: 90%;
  }
  .svg-container {
    width: 55%;
  }
  .pallete-container {
    width: 50%;
  }
  .single-color {
    width: 55px;
    height: 60px;
  }
  .single-color-active {
    height: 65px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo-container {
    position: inherit;
    transform: rotate(0);
    box-shadow: 0 0;
    border-radius: 5%;
    height: 80%;
    width: 30%;
  }
  .logo-img {
    height: 90%;
    width: 90%;
  }
  .svg-container {
    width: 55%;
  }
  .pallete-container {
    width: 50%;
  }
  .single-color {
    width: 55px;
    height: 55px;
  }
  .single-color-active {
    height: 60px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .logo-container {
    position: inherit;
    transform: rotate(0);
    box-shadow: 0 0;
    border-radius: 5%;
    height: 70%;
    width: 30%;
  }
  .logo-img {
    height: 90%;
    width: 90%;
  }
  .header {
    width: 70%;
    height: 40px;
    justify-content: space-between;
  }
  .go-back {
    height: 25px;
    width: 70px;
  }
  .reset-btn {
    height: 25px;
    width: 70px;
  }
  .svg-container {
    width: 70%;
  }
  .single-color {
    height: 50px;
    width: 35px;
  }
  .single-color-active {
    height: 55px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
