/* Header */
.header {
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* back button */
.back-container {
  width: 30%;
  text-align: center;
}
.go-back {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
  color: white;
  background-color: red;
}
.go-back:hover {
  cursor: pointer;
  filter: brightness(70%);
}
/* title */
.title-container {
  width: 40%;
  text-align: center;
}
.title {
  font-size: 1.5rem;
}
/* reset button */
.reset-container {
  text-align: center;
  width: 30%;
}
.reset-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: royalblue;
}
.reset-btn:hover {
  filter: brightness(80%);
  cursor: pointer;
}
/* Svgs */
.svg-container {
  width: 50%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
path:hover {
  cursor: crosshair;
}

/* media queries */
@media only screen and (max-width: 1400px) {
  .svg-container {
    width: 70%;
  }
  .color-palette {
    width: 70%;
  }
  .reset-btn {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    width: 70%;
  }
  .svg-container {
    width: 85%;
  }
  .color-palette {
    width: 160%;
    flex-wrap: wrap;
    margin: 1.5rem 1rem;
  }
}
@media only screen and (max-width: 770px) {
  .header {
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .svg-container {
    width: 90%;
    margin-bottom: 1rem;
  }
  .title-container {
    width: 80%;
  }
  .color-palette {
    width: 150%;
    margin-top: 1rem;
  }
  .reset-btn {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .svg-container {
    width: 90%;
    margin-bottom: 1rem;
  }
  .title-container {
    width: 40%;
    margin-left: 1rem;
  }
  .color-palette {
    width: 180%;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .svg-container {
    width: 90%;
  }
  .header {
    width: 90%;
  }
  .title-container {
    width: 40%;
  }
  .color-palette {
    width: 150%;
    margin-top: 0.5em;
  }
  .single-color {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
  }
  .reset-btn {
    width: 80px;
  }
  .go-back {
    width: 80px;
  }
}
@media only screen and (max-width: 375px) {
  .header {
    width: 90%;
  }
  .svg-container {
    width: 90%;
    margin-bottom: 0rem;
  }
  .title-container {
    width: 40%;
    margin-bottom: 0;
  }
  .color-palette {
    width: 150%;
    margin-top: 0.5em;
  }
  .single-color {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
  }
  .reset-btn {
    width: 50px;
  }
  .go-back {
    width: 50px;
    margin-right: 0.8rem;
  }
}
