/* Pallete */
.pallete-container {
  height: 140px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.single-color {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 2px solid black;
}
.single-color:hover {
  box-shadow: 0px 0px 15px black;
}
.single-color-active {
  height: 60px;
  width: 60px;
}
