.ss-btn {
  position: absolute;
  top: 3%;
  right: 15%;
  transition: 0.3s ease-in-out;
  width: 150px;
  height: 150px;
}
.ss-btn:hover {
  transform: rotate(180deg) scale(1.25);
  cursor: pointer;
}
.ss-btn__icon {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  .ss-btn {
    height: 100px;
    width: 100px;
    top: 8%;
    right: 15%;
  }
  .ss-btn__icon {
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 770px) and (max-width: 1024px) {
  .ss-btn {
    height: 100px;
    width: 100px;
    top: 8%;
    right: 8%;
  }
  .ss-btn__icon {
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 482px) and (max-width: 769px) {
  .ss-btn {
    height: 70px;
    width: 70px;
    top: 8%;
    right: 5%;
  }
  .ss-btn__icon {
    height: 25px;
    width: 25px;
  }
}
@media screen and (max-width: 481px) {
  .ss-btn {
    height: 60px;
    width: 60px;
    top: 8%;
    right: 5%;
  }
  .ss-btn__icon {
    height: 25px;
    width: 25px;
  }
}
